.contact-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    background-color: #c3b9b7;
    color: #47294c;
}
    
.contact__reseauxsociaux {
    text-align:center;
    padding:30px;
    border-radius:10px;
    width: 50%;
}

.formulaire {
    padding:20px 100px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
}

.contact__reseauxsociaux--icones {
    color: #47294c;
}

.contact__reseauxsociaux--icones:hover {
    color: #eff1ee;
}
    
.formulaire__bouton {
    border: 1px solid; 
    border-radius: 20px;
    padding: 10px 15px;
    width: 100px;
    cursor: pointer;
    background-color: #47294c;
    color:#c3b9b7;
    font-weight: 300;
}


/*Page Contact*/
@media only screen and (max-width: 480px) {
    .contact-page {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .contact__reseauxsociaux {
        width: 100%;
    }

    .formulaire {
        width: 100%;
    }

    #message {
        width: 150px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {

    .contact-page {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .contact__reseauxsociaux {
        width: 100%;
    }
}