header {
    text-align: center;
    background-color: #dfe4de;
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 427px;
    background-image: url('/fichiers-css/femmephoto.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    color: white;
    font-weight: 700;
}

.titres {
    font-size: 1.8em; 
    font-weight: 900;
    color: #c3b9b7;
    text-align: center;
    text-shadow: 2px 2px #47294c;
}
    
/*Style articles*/
.container-articles {
    background-color: #c3b9b7;
    color: #47294c;
}

.articles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    background-color: #c3b9b7;
    color: #47294c;
}

.articles a {
    text-decoration: none;
    color: #c3b9b7;
}

.articles a:hover {
text-decoration:underline;
}

article img {
    height: 340px;
    object-fit: cover;
}

article p {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

article {
    background-color:#47294c;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
    color:#c3b9b7;
}

/*Style partie autrice*/

.autrice {
    display: flex;
    justify-content: space-between;
    background-color: #47294c;
    color: #c3b9b7;
    margin-top: 0;
}

.autrice img {
    height: 700px;
    flex: 1;
}

.p-autrice {
    font-size: 20px;
    margin: 50px;
    text-align: left;
    font-weight: 300;
}

.titre-autrice {
    font-size: 40px;
    margin-left: 50px;
    margin-top: 15px;
    text-align: left;
    font-weight: 500;
}