* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #c3b9b7;
    font-family: "Poppins", sans-serif;
}

/*Menu de navigation*/

.menu {
    height: 80px;
    width: 100%;
    background-color: #47294c;
    color: #c3b9b7;
    font-weight: 300;
}

.menu__logo--image, .menu__logo {
    width:150px;
    height:auto;
    float:left;
    margin-top: 12px;
    margin-left: 10px;
}

.menu__list {
    float: right;
    margin-right: 20px;
    list-style: none;
}

.menu__list--item {
    display: inline-block;
    line-height:80px;
    margin: 0 5px;
    list-style: none;
}

.menu__list--item-link {
    color: #c3b9b7;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;

}

.menu__list--item-link:hover {
    background-color:#c3b9b7;
    color:#47294c;
}

.menu__checkbox {
    font-size: 30px;
    color: #c3b9b7;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display: none;
}

#check {
    display: none;
}

.main-titles {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
    margin: 2% 5%;
}

.margin-text {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}


/*S'abonner à la newsletter*/
.newsletter {
    margin: 20px 20px 3% 3%;
    text-align: center; 
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #c3b9b7;
    color: #47294c;
}

.newsletter__items {
    margin-bottom: 10px;
}

.newsletter__button {
    border: 1px solid; 
    border-radius: 20px;
    padding: 10px 15px;
    width: 100px;
    cursor: pointer;
    background-color: #47294c;
    color: #c3b9b7;
    font-weight: 300;
}

.newsletter__input {
    padding-left:20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    width: 350px;
    background-color: #eff1ee;
    border: 2px solid #47294c;
    border-radius:20px;
}

.newsletter__title {
    font-weight: 500;
    font-size:40px;
}

.newsletter__text {
    font-size: 20px;
}

/*Footer*/

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: #47294c;
    color: #c3b9b7;
    font-weight: 300;
    text-transform: uppercase;
}

.footer__link {
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #47294c;
    color: #c3b9b7;
    padding: 5px 10px;
    overflow: hidden;
    font-weight: 300;
}

.footer__link:hover {
    background-color: #c3b9b7;
    color: #47294c;
    border-radius: 20px;
}


/*Responsive Smartphones*/
@media only screen and (max-width: 480px) {

    /*Menu de navigation*/
    .menu__checkbox {
        display: block;
        color: #c3c3c3;
        cursor: pointer;
    }

    .menu__list {
        position: fixed;
        width:100%;
        height: 100vh;
        background: #c3b9b7;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .menu__list--item {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .menu__list--item-link {
      font-size: 20px;
      color:#47294c;
    }

    .menu__list--item-link:hover, .menu__list--item-link:active {
        background: none;
        color: white;
    }

    #check:checked ~ ul {
        left: 0; 
    }

    header {
        height: auto;
        padding: 20px;
        font-size: 0.7em; 
        font-weight: 100;
    }

    .main-titles {
        font-size: 30px;
        margin: 1% 3%;
    }

    .margin-text {
        text-align: left;
        margin-left: 4%;
        margin-right: 4%;
    }

    /*S'abonner à la newsletter*/

    .newsletter__input {
        width: 80%;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
    }

    .newsletter__title {
        font-size: 30px;
        flex-direction: column;
    }

    .newsletter__text {
        font-size: 18px;
    }

    /*Footer*/

    footer {
        flex-direction: column;  
        padding: 20px;
        height: 220px;
        
    }

    .footer__link {
        width: 100%; 
        text-align: center; 
        margin-top: 5px;
    }

}

/*Responsive Tablettes*/
@media only screen and (min-width: 481px) and (max-width: 1024px)
{
    /*Menu de navigation*/
    .menu__checkbox {
    display: block;
    color: #c3c3c3;
    cursor: pointer;
    }

    .menu__list {
    position: fixed;
    width:100%;
    height: 100vh;
    background: #c3b9b7;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    }

    .menu__list--item {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .menu__list--item-link {
      font-size: 20px;
      color:#47294c;
    }

    .menu__list--item-link:hover, .menu__list--item-link:active {
        background: none;
        color: white;
    }

    #check:checked ~ ul {
        left: 0; 
    }

    header {
        width: 100%;
        padding: 20px;
        font-size: 0.7em; 
     font-weight: 100;
    }


    footer {
        flex-direction: column;  
        padding: 20px;
        height: 220px;
    }

    .margin-text {
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
    }

    .footer__link {
        width: 100%; 
        text-align: center; 
        margin-top: 5px;
    }

    .index-blog__title, .newsletter__title {
        font-size: 30px;
    }
    
}
