.liste-cheveux-forte-porosite {list-style-type:circle ;
}

.article-forte-porosite { margin-left: 50px;
margin-right: 50px;}

.article-forte-porosite img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 250px;
}

@media only screen and (max-width: 480px) {
    .article-forte-porosite {
        word-spacing: 2px;
        flex-direction: column;
        margin-left: 8px;
        margin-right: 8px;
    }

    .article-forte-porosite img {
        max-width: 100%;
        height: auto;
    }
}