.article-vacances {
    margin-left: 50px;
    margin-right: 50px;
}

.article-vacances img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 250px;
}

@media only screen and (max-width: 480px) {
    .article-vacances {
        word-spacing: 2px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .article-vacances img {
        max-width: 100%;
        height: auto; 
    }
}
